## CFM DA2 Q7
### Jeongseop Yi (Patrick), j22yi

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [71]:
# Read data from q6
q6_data = pd.read_excel('../DA2_data.xlsx', sheet_name='q6')

In [72]:
q7_cols = ['lnSize', 'bk2mkt', 'eP']
for col in q7_cols:
    q6_data[col + '_Z'] = q6_data.groupby('MONTHID')[col + '_W'].transform(lambda x: (x - x.mean()) / x.std())

q7_data = q6_data[['DATE', 'MONTHID', 'PERMNO', 'TICKER', 'lnSize_W', 'lnSize_Z', 'bk2mkt_W', 'bk2mkt_Z', 'eP_W', 'eP_Z']]

# summary statistics
q7_summary = {'Name' : [], 'Mean' : [], 'Median': [], 'Standard Deviation' : [], 'Min' : [], 'Max' : [], '1% percentile' : [], '99% percentile' : []}
for col in q7_cols:
    q7_summary['Name'].append(col)
    q7_summary['Mean'].append(q7_data[col + '_Z'].mean())
    q7_summary['Median'].append(q7_data[col + '_Z'].median())
    q7_summary['Standard Deviation'].append(q7_data[col + '_Z'].std())
    q7_summary['Min'].append(q7_data[col + '_Z'].min())
    q7_summary['Max'].append(q7_data[col + '_Z'].max())
    q7_summary['1% percentile'].append(q7_data[col + '_Z'].quantile(0.01))
    q7_summary['99% percentile'].append(q7_data[col + '_Z'].quantile(0.99))

q7_summary = pd.DataFrame(q7_summary)

# summary statistics for each MONTHID
q7_summary_month = {'DATE': [], 'MONTHID' : [], 'Name' : [], 'Mean' : [], 'Median': [], 'Standard Deviation' : [], 'Min' : [], 'Max' : [], '1% percentile' : [], '99% percentile' : []}
for month in q7_data['MONTHID'].unique():
    for col in q7_cols:
        q7_summary_month['DATE'].append(q7_data[q7_data['MONTHID'] == month]['DATE'].iloc[0])
        q7_summary_month['MONTHID'].append(month)
        q7_summary_month['Name'].append(col)
        q7_summary_month['Mean'].append(q7_data[q7_data['MONTHID'] == month][col + '_Z'].mean())
        q7_summary_month['Median'].append(q7_data[q7_data['MONTHID'] == month][col + '_Z'].median())
        q7_summary_month['Standard Deviation'].append(q7_data[q7_data['MONTHID'] == month][col + '_Z'].std())
        q7_summary_month['Min'].append(q7_data[q7_data['MONTHID'] == month][col + '_Z'].min())
        q7_summary_month['Max'].append(q7_data[q7_data['MONTHID'] == month][col + '_Z'].max())
        q7_summary_month['1% percentile'].append(q7_data[q7_data['MONTHID'] == month][col + '_Z'].quantile(0.01))
        q7_summary_month['99% percentile'].append(q7_data[q7_data['MONTHID'] == month][col + '_Z'].quantile(0.99))

q7_summary_month = pd.DataFrame(q7_summary_month)

display(q7_data.head(5))
display(q7_summary)
display(q7_summary_month)

,DATE,MONTHID,PERMNO,TICKER,lnSize_W,lnSize_Z,bk2mkt_W,bk2mkt_Z,eP_W,eP_Z
0,2000-01-31 00:00:00.000000,1,10107,MSFT,26.947898,2.360948,0.060114,-0.754318,0.004338,-0.205354
1,2000-02-29 00:00:00.000000,2,10107,MSFT,26.857048,2.279412,0.065832,-0.598937,0.004751,-0.143311
2,2000-03-31 00:00:00.000000,3,10107,MSFT,27.045764,2.306229,0.054510,-0.646848,0.003934,-0.185449
3,2000-04-28 00:00:00.000000,4,10107,MSFT,26.628771,2.096236,0.094234,-0.485762,0.006637,0.043126
4,2000-05-31 00:00:00.000000,5,10107,MSFT,26.520020,2.113133,0.105061,-0.477264,0.007399,0.046601

,Name,Mean,Median,Standard Deviation,Min,Max,1% percentile,99% percentile
0,lnSize,-2.623038e-16,-0.086288,0.993659,-3.110576,3.154672,-2.376967,2.612240
1,bk2mkt,-9.687489e-18,-0.270960,0.993576,-3.919803,7.065881,-1.545852,3.383315
2,eP,1.103220e-17,0.096240,0.993599,-8.345389,5.213952,-3.440622,3.155165

,DATE,MONTHID,Name,Mean,Median,Standard Deviation,Min,Max,1% percentile,99% percentile
0,2000-01-31 00:00:00.000000,1,lnSize,-5.742533e-17,-0.011888,1.0,-2.650848,2.360948,-2.250633,2.255695
1,2000-01-31 00:00:00.000000,1,bk2mkt,-6.145877e-17,-0.346368,1.0,-0.988228,3.073490,-0.970430,3.073490
2,2000-01-31 00:00:00.000000,1,eP,-3.965082e-18,-0.167681,1.0,-1.749058,3.217052,-1.701178,3.217052
3,2000-02-29 00:00:00.000000,2,lnSize,2.928692e-16,-0.082530,1.0,-2.847110,2.279412,-2.342706,2.259186
4,2000-02-29 00:00:00.000000,2,bk2mkt,-1.982541e-18,-0.305060,1.0,-0.865433,3.306606,-0.840307,3.306606
...,...,...,...,...,...,...,...,...,...,...
787,2021-11-30 00:00:00.000000,263,bk2mkt,-1.323296e-16,-0.398827,1.0,-1.463730,3.443773,-1.196680,3.443773
788,2021-11-30 00:00:00.000000,263,eP,1.065366e-16,-0.149148,1.0,-3.232977,3.251752,-3.232977,2.647935
789,2021-12-31 00:00:00.000000,264,lnSize,5.248327e-16,-0.342424,1.0,-1.974762,3.093173,-1.459233,3.093173
790,2021-12-31 00:00:00.000000,264,bk2mkt,-9.307930e-17,-0.408682,1.0,-1.407087,3.376930,-1.148543,3.376930
791,2021-12-31 00:00:00.000000,264,eP,-2.130731e-17,-0.040240,1.0,-3.299972,3.306229,-3.299972,2.503438

In [73]:
with pd.ExcelWriter("../DA2_data.xlsx", mode='a', engine="openpyxl", if_sheet_exists='replace') as writer:
    q7_data.to_excel(writer, sheet_name="q7", index=False)
    q7_summary_month.to_excel(writer, sheet_name="q7_summary_month", index=False)